!!!
%html{ :lang => 'en' }
  %head
    %title Dragnet - Loading...
    
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %meta{ :charset => 'utf-8' }

    - lib = '.'

    %script{ :type => 'text/javascript', :src => "#{lib}/js/jquery-1.9.1.min.js" }
    %script{ :type => 'text/javascript', :src => "#{lib}/js/bootstrap.min.js" }
    
    :javascript
      $(document).ready(function(){
        setInterval(function(){
          $.ajax({
            dataType: 'json',
            url: 'http://localhost:3000/patients/1.json',
            complete: function(xhr, s){
              location.href = "http://localhost:3000";
            },
          });
        }, 3000);
        setInterval(function(){
          $('.jumbotron').fadeOut(function(){
            setTimeout(function(){
              $('.jumbotron').fadeIn();
            }, 200);
          });
        }, 1000);
      });

    %link{ :type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => "#{lib}/css/bootstrap.min.css" }
    %link{ :type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => "#{lib}/css/bootstrap-responsive.min.css" }
  %body
    .container
      #main
        #error-message
          .text-error
        .jumbotron
          %h1 Loading...
